<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <a routerLink="/">
                <div class="logo logo-dark mx-auto d-block" style="background-image: url('assets/images/logo/logo.png');"></div>
                <!-- <div class="logo logo-dark"></div>  -->

            </a>
            <div class="mobile-toggle side-nav-toggle">
                <a href="javascript:void(0);">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>


        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" routerLink="/dashboard">
                    <span class="icon-holder"><i class="ti-home"></i></span>
                    <span class="title">Dashboard</span>
                </a>

            </li>



        </ul>

    </div>
</div>
<app-header></app-header>